html {
  scroll-behavior: smooth;
}

body {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

a {
  color: #61dafb;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 10px 20px;
}

.Hint {
  font-size: 0.7em;
  margin: 20px 0;
}

.WordWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.RowIndex {
  color: #777;
  font-size: 0.7em;
  padding-right: 6px;
}

.CharWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid #777;
  text-align: center;
  width: 50px;
  height: 50px; 
  margin: 5px; 
}

.Char {
  font-size: 2em;
  font-weight: 600;
}

.Color0 { background-color: #777; }
.Color1 { background-color: #ffc400; }
.Color2 { background-color: green; }

.Color100 { background-color: #004c6d; }
.Color101 { background-color: #004c6d; }
.Color102 { background-color: #004c6d; }
.Color103 { background-color: #005478; }
.Color104 { background-color: #005c84; }
.Color105 { background-color: #006490; }
.Color106 { background-color: #006c9c; }
.Color107 { background-color: #0075a8; }
.Color108 { background-color: #007db5; }
.Color109 { background-color: #0085c1; }
.Color110 { background-color: #008ece; }




.UpdateWrapper {
  margin: 20px 0;
  width: 100%;
}

button {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background-color: #0066ff;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  width: 50%;
  max-width: 250px;
}

.MatchingWordsWrapper {
  line-height: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: monospace;
}

.Nop {
  border-radius: 12px;
  padding: 15px;
  color: white;
  background-color: #ff00c8;
}

footer {
  margin: 100px 0;
}

@media only screen and (min-width: 600px) {
  .Char {
    font-size: 1.3em;
  }
}