body {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

a {
  color: #61dafb;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 10px;
}

.Hint {
  font-size: 0.7em;
}

.WordWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.RowIndex {
  color: #777;
  font-size: 0.7em;
  padding-right: 6px;
}

.CharWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid #777;
  text-align: center;
  width: 50px;
  height: 50px; 
  margin: 5px; 
}

.Char {
  font-size: 2em;
  font-weight: 600;
}

.Color0 { background-color: #777; }
.Color1 { background-color: #ffc400; }
.Color2 { background-color: green; }



.UpdateWrapper {
  margin: 20px 0;
  width: 100%;
}

button {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background-color: #0066ff;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  width: 50%;
  max-width: 250px;
}

.MatchingWordsWrapper {
  text-align: start;
}

.MatchingWord {
  font-weight: 600;
  text-transform: uppercase;
  font-family: monospace;
}