.CharFreqWrapper {
    width: 100%;
}

.CharFreqItem {
    width: 100%;
    text-align: start;
    margin: 0;
}

.CharFreqChar {
    display: inline-block;
}

.CharFreqSize {
    display: inline-block;
    background-color: #f827ba;
    height: 12px;
    font-size: 0.5em;
}