.LangSelectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.LangItem {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    color: #AAA;
    margin: 0px 0px;
    cursor: pointer;
    padding: 7px;
    margin: 0 15px;    
}

.LangItem.Selected {
    font-weight: 600;
    color: #FFF;
    
    border-radius: 7px;
    background-color: #FFFFFF60;
}